@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ruda:wght@400..900&display=swap');

body {
	background-color: #F1F2F1;
  padding: 80px 20px 50px;
}
h1{
	color: #0F1519; 
  font-family: Ruda;
  font-weight: 900;
}
h2, h4 {
  color: #0F1519; 
  font-family: Nobile;

}
p {
  color: #0F1519; 
  font-family: Hind Madurai;
}
hr {
  border: 1px solid #362B3E;
}
#about-me {
  background-color: #9E959D;
  padding: 30px;
  border-radius: 5px;
}
#about-me img {
    max-width: 40%;
    max-height: 40%x;
    float: left;
	  margin-right: 30px;
    margin-bottom: 20px;
    border: 2px solid #F1F2F1;
    border-radius: 5px;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: #362B3E;
  padding: 20px 0;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

a {
  color: #362B3E;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.1rem;
  font-family: Hind Madurai;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.navbar a {
  color: #F1F2F1;
  text-decoration: none;
  margin: 0 20px;
  font-size: 1.1rem;
  font-family: Hind Madurai;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.navbar a:hover {
  color: #EA9010;
  border-bottom: 2px solid #EA9010;
}
#about-me ul {
  padding-left: 20px; /* Add indentation to the list */
  margin-top: 0; /* Remove extra margin above the list */
}

#about-me h4 {
  padding-top: 10px;
}
.contact-form {
  flex: 1;
  min-width: 300px;
}
.btn-purple {
  background-color: #2d223c;
  color: white;
}
label {
  font-weight: bold;
  color: #0F1519; 
  font-family: Hind Madurai;
}
.contact-info {
  padding: 30px;
}
video {
  max-width: 80%;
  height: auto;
  margin: 20px 0;
  border-radius: 5px;
  border: 2px solid #F1F2F1;
}
