body {
	background-color: #0E7C7B;
	
}
h1, h2, p, .nav-link {
	color: #D4F4DD;
}
.nav-link:hover {
  color: #4B1D3F;
}
hr {
  border: 1px solid #D4F4DD;
}
#about-me {
  background-color: #4B1D3F;
  padding: 20px;
  border-radius: 5px;
}
#about-me img {
    max-width: 40%;
    max-height: 40%x;
    float: left;
	margin-right: 25px;
    border: 2px solid #D4F4DD;
}

